PORT= 8000
MONGODB_URL = mongodb+srv://Anand:your_password@cluster0.zlipw4f.mongodb.net
access_token_secret = chai-aur-code
access_token_expiry = 1d
refresh_token_secret = chai-aur-backend
refresh_token_expiry = 10d
